*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bs-gutter-x: 0;
  }
  body{
    background-color:black !important;

    
  }

/* NavBar */
.navbarDiv{
    height: 60px;
    width: 100%;
    background-color: #242526e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    
    
}

.iconSearvhButton{
    width: 25%;
  
}
.iconSearvhButton img{
    height: 45px;
    width: 45px;
    margin: 5px;
}
.iconSearvhButton input{
    border-radius: 30px;
    padding: 5px 15px ;
    width: 230px;
    background-color: rgba(128, 128, 128, 0.527);
    color: white;
    outline: none;
}
.iconSearvhButton input::placeholder{
    color: white;
}

.centerDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.lastDiv{
    width: 25%;
    /* border: 2px solid green; */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: end;
}
.lastDiv div{
    /* border: 2px solid red; */
    border-radius: 100%;
    height: 45px;
    width: 45px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.527);
    cursor: pointer;

}
.lastDiv div:hover{
    background-color: transparent;
}
.centerDiv img{
    /* border: 2px solid green; */
    border-radius: 100px;
    padding: 10px;
    
}
.centerDiv img:hover, .centerDiv i:hover{
    cursor: pointer;
    background-color:rgba(128, 128, 128, 0.527) ;

}
.centerDiv i{
    cursor: pointer;
    /* border: 2px solid green; */
    border-radius: 100px;
    padding: 10px;
}

                    /*  Main body   */
                    /* Left Div  */

.bodyPageMain{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    padding-top: 100px;
    

 
}
.userDiv{
    /* border: 3px solid orange; */
    width: 100%;
    height: 300px;
}
.innerContent{
    width: 250px;
    height: 300px
    
}
.card-body{
    /* border: 3px solid red; */
    background-image: linear-gradient(to right, #000000e3 , #555e5f);
   color: white !important;


}
