*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bs-gutter-x: 0;
  }
  body{
    background-color:black !important;

    
  }

/* NavBar */
.navbarDiv{
    height: 60px;
    width: 100%;
    background-color: #242526e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    
    
}

.iconSearvhButton{
    width: 25%;
  
}
.iconSearvhButton img{
    height: 45px;
    width: 45px;
    margin: 5px;
}
.iconSearvhButton input{
    border-radius: 30px;
    padding: 5px 15px ;
    width: 230px;
    background-color: rgba(128, 128, 128, 0.527);
    color: white;
    outline: none;
}
.iconSearvhButton input::placeholder{
    color: white;
}

.centerDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.lastDiv{
    width: 25%;
    /* border: 2px solid green; */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: end;
}
.lastDiv div{
    /* border: 2px solid red; */
    border-radius: 100%;
    height: 45px;
    width: 45px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.527);
    cursor: pointer;

}
.lastDiv div:hover{
    background-color: transparent;
}
.centerDiv img{
    /* border: 2px solid green; */
    border-radius: 100px;
    padding: 10px;
    
}
.centerDiv img:hover, .centerDiv i:hover{
    cursor: pointer;
    background-color:rgba(128, 128, 128, 0.527) ;

}
.centerDiv i{
    cursor: pointer;
    /* border: 2px solid green; */
    border-radius: 100px;
    padding: 10px;
}

                    /*  Main body   */
                    /* Left Div  */

.bodyPageMain{
    display: flex;
 
}

.leftItemImg0{
    border-radius: 100px;
}


.leftDiv{
    background-color: rgba(0, 0, 0, 0.829);
    width: 25%;
    height: 100vh;
    padding-top: 15px;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    top: 50px;
    
    
    
}
.leftDiv::-webkit-scrollbar{
    width: 10px;
    
    
}

  /* Track */
  .leftDiv::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .leftDiv::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .leftDiv::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
.itemImgName{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 15px;
}
.itemImgName:hover{
    background-color:rgba(128, 128, 128, 0.527) ;
    cursor: pointer;
    width:90%;
    border-radius: 50px;

}
.itemImgName p{
    color: white;
    margin: 12px;
}
.itemImgName img{
    padding: 2px;
    margin: 10px;
}

.onlineActive{
    border: 5px solid green;
    border-radius: 100px;
  
    
}


.rightDiv{
    background-color: rgba(0, 0, 0, 0.829);
    width: 25%;
    height: 100%;
    overflow-y: scroll;
    padding-top: 15px;
    position: fixed;
    right: 0;
    top: 50px;
}
.rightDiv::-webkit-scrollbar{
    width: 10px;
    
    
}

  /* Track */
  .rightDiv::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .rightDiv::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .rightDiv::-webkit-scrollbar-thumb:hover {
    background: green; 
  }

            /* Center Div Main */


.centerDivMain{
    /* display: flex; */
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    
    /* border: 2px solid green; */
    


}
.centerDivMainContainer{
    height: 150px;
    background-color: #242526e8;
    margin-top: 20px;
    padding-top: 5px;
    border-radius: 10px;
    
}
.centerDivMainContainer img{
    /* border: 2px solid green; */
    border-radius: 100px;
    height: 40px;
    width: 40px;

}
.centerDivMainContainer input{
    width: 80%;
    margin-left: 5px;
    height: 40px;
    border-radius: 30px;
    background-color: rgba(128, 128, 128, 0.527);
    color: white;
    outline: none;
    padding-left: 20px;

}
.centerDivMainContainer input::placeholder{
  color: white;
  
}
.upperDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
}
.upperDiv button{
    padding: 5px;
    width: 60px;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.527);
    color: white;
}
.upperDiv button:hover{
    background-color: #242526e8;
}

.postPic{
    border-radius: 100%;
}
.centerDivMainLastDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    /* border: 2px solid green; */
    width: 100%;
    padding-bottom: 10px;
}
.centerDivMainLastDiv img{
    margin-right: 10px;
}
.centerDivMainLastDiv div{
    /* border: 2px solid green; */
    width: 150px;
    border-radius: 10px;
    padding:  5px;

}
.centerDivMainLastDiv div:hover{
    cursor: pointer;
    background-color:rgba(128, 128, 128, 0.527) ;

}
.homePage:hover{
    cursor: pointer;
    
}
.homePage:active{
    padding: 2px;

}

.uploadPic{
    display: none;
}


                /* Post Div */
                
.postDiv{
    /* border: 2px solid green; */
    height: fit-content;
    width: 100%;
    height: fit-content;
    padding: 0;
    
    
    
}                

.postDivUpper{
    display: flex;
    justify-content:space-between;
    color: white;
    /* border: 2px solid green; */
    padding: 10px;

}
.postProfileImg{
    margin-right: 10px;
}
.postProfileImg img{
    height: 40px;
    width: 40px;
}
.postNameDateTime{
    /* border: 2px solid green; */

}
.postNameDateTime h4{
    font-size: 20px ;
    /* border: 2px solid green; */
    margin-bottom: 0;


}
.postNameDateTime span{
    filter: brightness(80%);
    font-size: small;
    margin-top: 0;
    /* border: 2px solid green; */
}
.postDivEditDelete{
    /* border: 2px solid green; */
}
.postDivEditDelete img{
    height: 25px;
    width: 25px;
    /* border: 2px solid green; */

    
}
.postDivEditDelete img:hover{
    cursor: pointer;
    padding: 2px;
}
.postDivImg{
    margin: 10px 0px;
}

.postImg{
    height: fit-content;
    width: 100%;
    border-radius: 5px;
}
.postDiv h6{
 line-height: 25px;
 word-spacing: 1.5px;
}
.commentBox{
    /* border: 2px solid green; */


}
.commentBox div{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
    border-radius: 10px;

}
.commentBox div:hover{
    cursor: pointer;
    background-color:rgba(128, 128, 128, 0.527) ;
}

.postCommentLastDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
    /* border: 2px solid red; */
    padding-bottom: 20px;

}
.postCommentLastDiv button{
    padding: 5px;
    width: 60px;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.527);
    color: white;
}
.postCommentLastDiv button:hover{
    background-color: #242526e8;
}


.postCommentLastDiv img{
    /* border: 2px solid green; */
    border-radius: 100px;
    height: 40px;
    width: 40px;

}
.postCommentLastDiv input{
    width: 80%;
    margin-left: 5px;
    height: 40px;
    border-radius: 30px;
    background-color: rgba(128, 128, 128, 0.527);
    color: white;
    outline: none;
    padding-left: 20px;

}
.postCommentLastDiv input::placeholder{
  color: white;
}
.appendDiv{
    background-color: #242526e8;
    margin-top: 20px;
    /* padding: 10px; */
    /* border: 2px solid green; */
    border-radius: 10px;
}

.postEditButton{
    background: transparent !important;
}

.popUPCapturefullScreen{
    
    position: absolute;
    inset: 0;
    height: 100vh;
    display: flex ;
    justify-content: center ;
    align-items: center;
    /* border: 3px solid red; */
    display: none;
    
}
.popUpWindow{
    /* display: none; */
    padding: 5px;
    border-radius: 10px;
    height: 400px;
    width: 500px;
    /* border: 3px solid red; */
    background-color:grey;
    position: fixed;
    top: 40%;
    left: 35%;
    margin-left: -50px;
    margin-top: -50px;

}
.popUpButton{
    width: 30%;
    border-radius: 10px;
    background: lightskyblue;

    /* border: 3px solid red; */

}
.popUpCross{
    position: absolute;
    height: 25px;
    width: 25px;
    top: 0;
    right: 0;
    margin: 10px;
    /* border: 3px solid red; */
    cursor: pointer;


}
.popUpCross:active{
    scale: 1.1;
}
.textArea{
    border-radius: 5px;
    padding: 5px;
    background-color:grey;
    color: white;
}
.postImageChange{
    border-radius: 10px;
    margin-bottom: 10px;
}